<footer class="site-footer h-card">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <img src="assets/open-source-health-foundation-logo.png" alt="Open Source Health Foundation" srcset="assets/open-source-health-foundation-logo-1x.png 1x, assets/open-source-health-foundation-logo-2x.png 2x">
        <h2>Join us in making healthcare open for all.</h2>
            {%- if site.email -%}
            <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}
            {%- endif -%}</a> - <a href="https://github.com/OpenSourceHealthFoundation/oshf-website/blob/master/LICENSE">Apache 2.0 License</a> - <a href="https://github.com/OpenSourceHealthFoundation/">Github</a>
        </ul>
      </div>
    </div>

  </div>

</footer>